
body{
    /*background-image: url(../imagenes/gato.jpg);*/
    background-color: rgba(29, 26, 26, 0.979);
}
h1{
    color: #1c5c9c;
}
.semblanza{
    font-size: 20px;
    color: #01bfa6;
}
.titulo{
    color: yellow;
}
.columna-derecha{
    margin: 2%;
    float: right;
    width: 60%; 
}
.columna_izquiera{
    float: left;
    width: 25%;
}
.imagen_principal{
    height: 35%;
    width: 50%;
    float: right;
}
.cuervo{
    height: 20%;
    width: 30%;
}
ul,li, a{
    color: #B3B3D7;
    font-size: 18px;
}
p{
    padding-left: 3px;
    color: #01bfa6;
    text-align: justify;
}
.contenedor{
    overflow: hidden;
}