body{
    background-image: url("../imagenes/fondo.jpg");
};
.columna_izquiera{
    float: left;
}
h1{
    color: rgb(121, 156, 137);
    font-size: 30px;
}
li{
    color: rgb(195, 212, 210);
}
a{
    color: rgb(126, 192, 204);
    font-size: 25px;
}
p{
    text-align: justify;
}
.cabecera{
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 40px;
    width: 60%;
    height: 250px; 
  }
.imagen{
    width: 100%;
    height: 100%;
    float: left;
}
.cuento{
    width: 60%;
    height: 380px;
    background-color: rgb(9, 1, 12);
    margin-top: 100px;
    margin-left: 1%;
    overflow: scroll;
    border-radius: 2%;
    color: aqua;
  }

.cuervo{
    height: 300%;
    width: 100%; 
 
}

.columna_derecha{
    float: right;
    width: 35%; 
    height: 600px;
}
.tit1{
    font-size: 50px;
    font-family: 'Helvetica';
    color: rgb(44, 84, 145);
    float: left;
    margin: 0px;
    margin-top: 10px;
    width: 100%;
}
.topinion{
    font-size: 50px;
    font-family: 'Lucida Sans';
    color: rgb(153, 56, 70);
    float: left;
    margin: 0px;
    margin-top: 10px;
    width: 200px;
}
.opinion{
    width: 60%;
    height: 200px;
    background-color: rgb(11, 5, 37);
    margin-top: 100px;
    margin-left: 1%;
    overflow: scroll;
    border-radius: 2%;
    color: rgb(15, 182, 154);
}

.tglosario{
    font-size: 50px;
    font-family: 'Lucida Sans';
    color: rgb(153, 56, 70);
    float: left;
    margin: 0px;
    margin-top: 10px;
    width: 200px;
}
.glosario{
    width: 60%;
    height: 300px;
    background-color: rgb(11, 5, 37);
    margin-top: 100px;
    margin-left: 1%;
    overflow: scroll;
    border-radius: 2%;
    color: rgb(15, 182, 154);
}

strong{
    color: white;
    font-size: 120%;
  }
.contenedor{
    overflow: hidden;
}